.leaflet-marker-photo { 
	border: 2px solid #fff; 
        animation: zoom forwards;
        animation-duration: 3s;
        
}	

@keyframes zoom {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.leaflet-marker-photo div { 
    width: 100%;  
    height: 100%;
    background-size: cover;    
    background-position: center center;
    background-repeat: no-repeat;
}	

.leaflet-marker-photo b {
	position: absolute;
	top: -7px;
	right: -11px;
	color: #555;
	background-color: black;
	border-radius: 10px;
	height: 20px;
	min-width: 20px;
	line-height: 12px;
	text-align: center;
	padding: 3px;
        color: white;
        font-size: 16px;
	//box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.leaflet-marker-info div { 
    width: 100%;  
    height: 100%;
    background-size: cover;    
    background-position: center center;
    background-repeat: no-repeat;
}

.leaflet-marker-info b {
	position: absolute;
	top: -7px;
	right: -11px;
	color: #555;
	background-color: black;
	height: 20px;
	min-width: 20px;
	line-height: 12px;
	text-align: center;
	padding: 3px;
        color: white;
        font-size: 16px;
}